<% provide :title, :Help %>

<h1><%= t :Help %></h1>
<p>
  <%= t :help_1 %>
  <%= link_to t(:help_2), "http://www.railstutorial.org/help" %>
  <%= t :help_3 %>
  <em><%= link_to t(:help_4), "http://www.railstutorial.org/book" %></em>.
</p>
