<h1><%= t(:mail_reset_password) %></h1>

<p><%= t(:to_reset_pwd) %></p>
<%= link_to t(:mail_reset_password), edit_password_reset_url(id: @user.reset_token, email: @user.email) %>
<p><%= t(:link_expire) %></p>

<p><%= t(:if_not_reset) %></p>
