<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(:h_title) , "#", id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
      <li><%= link_to t(:home), home_path %></li>
      <li><%= link_to t(:help), help_path %></li>
      <li><%= link_to t(:log_in), "#"%></li>
      <li><%= link_to t(:c_en), locale: :en %></li>
      <li><%= link_to t(:c_ja), locale: :ja %></li>
      </ul>
    </nav>
  </div>
</header>
